
*{
	box-sizing: border-box;
}
body{
	font-size:22px;
	color:black;
	background-color:#808080;
}
/*Header section*/
#header-nav{
	background-color:#ffff66;
	border-radius: 2;
    border:0; 
	height: 80px;
}
.row{
	width: 100%;
}

.navbar-brand div{
	font-size: 25px;
	position: relative;
	left:0;
	padding-top:10px;
	color: black;
	font-family: Helvetica;
	padding-left:10px;
}

.navbar-header button.navbar-toggle, .icon-bar{
    	top:10px;
    	
}

.navbar-header button.navbar-toggle, .icon-bar{
   border: 1px solid black;
}

#nav-list > li{
	text-align: center;
    background:#ffff66;
    font-family: Helvetica;
}

#nav-list > li:hover{
	background: #E7E7E7;
}

#nav-list a{
	font-size:1em;
	color: black;
}
/*End of header section*/


#Menu-description{
	font-family: Verdana;
	margin-top:110px;
}

#section-1, #section-2, #section-3{
	text-align: center;
	margin-bottom: 10px;
	background-color:#4d94ff;
	padding:0;
}

section{
	background-color:white;
	padding-top: 5px;
	padding-bottom:5px;
	padding-left: 5px;
	padding-right:5px;
    font-size: .8em;
	margin-left: 20px;
	box-shadow: 0  0 10px #fff;
	border: 2px solid black;
}











